h1, p {
  font-family: Lato;
}

.floating-menu {
	position: absolute;
	right: 8px;
	bottom: 200px;
	height: 60px;
  text-align: right;
  background-color: black;
  padding: 10px 10px;
  border: 0px black solid;
  border-radius: 30%;
}

.modal-backdrop
{
    opacity: 1 !important;
}